<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">Dieren Poli Bhoendie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="../../index.html">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card m-5" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/Screenshot_11.png" alt="akshay bhoendie">
                <div class="card-body">
                    <h5 class="card-title">Akhsaykumar Bhoendie</h5>
                    <p class="card-text">Hi! I am a Java developer. I like solving problems. I got other hobbies as well. Most of the time I like going on adventures and offcourse being offroad.</p>
                    <a href="https://sr.linkedin.com/in/akhsaykumar-bhoendie-b3a01aa5?trk=people-guest_people_search-card" class="btn btn-primary" target="_blank">Check LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron m-5">
                <h1 class="display-4">Dieren Poli Bhoendie</h1>
                <p class="lead">Een dier vriendelijke poli voor jong en oud.</p>
                <hr class="my-4">
                <p>Dit is een project voor het vergemakkelijken van de administratie van klanten met hun dieren voor de poli.
                    Het project kwam tot stand, bij het bedenken van een oplossing voor een realistische instantie. Aan het eind van dit traject vindt er een beoordeling plaats.
                </p>

                <p>Hier zijn de technologien opgesomd:</p>

                <ul>
                    <li>Hibernate</li>
                    <li>Jersey</li>
                    <li>Java</li>
                    <li>Mysql</li>
                    <li>HTML</li>
                    <li>Javascript</li>
                    <li>CSS</li>
                </ul>
            </div>
        </div>

    </div>


</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="about.js"></script>
</body>
</html>
